[safe]
        directory = *
[push]
        default = simple
[user]
    name = Domagoj Latečki
    email = domagoj.latecki@hibob.io
[core]
    editor = vim
[init]
    defaultBranch = main
[alias]
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[credential]
    helper = /usr/bin/gp credential-helper
